<div class="student-content">
    <h2>We are transforming the way technical education should be imparted!</h2>
    <p>
      We believe that technical education should not be delivered in the classrooms; instead, it should be on field practically.
      We at the Baap company are completely introducing fully practical learning courses in our IT offices for 12th pass individuals
      who are willing to make a career in the IT industry. Students get a three-year full-time degree from the recognized university
      and also an internship for three years with live project experience.
    </p>
  
    <h2>Courses</h2>
    <p>
      BCA (Bachelor of Computer Application)<br>
      Freedom to choose the university<br><br>
  
      Three years full-time degree + job program<br><br>
  
      <strong>Frontend:</strong> Angular, React, Vue<br>
      <strong>Backend:</strong> Node, Python, Java<br>
      <strong>Database:</strong> MongoDB, MySQL +<br>
      <strong>Cloud:</strong> AWS, Azure<br>
      <strong>Software Testing:</strong> Manual, Automation
    </p>
  </div>
  