<div class="staff-content">
    <h2>DON’T JUST GET A DEGREE, BE JOB READY.</h2>
    <p>
      We are disrupting education in India. We believe that technical education should not be imparted in the classrooms; rather, it should be on the field.
      We are providing a platform to learn and work along with industry experts, thereby being job-ready during your graduation.
    </p>
  
    <h2>Our Junior College Division</h2>
    <p>
      Our junior college division uses Open Learning curriculum to get completely ready for the future with courses like farming, construction, financial literacy.
    </p>
  
    <h2>Get In Touch</h2>
    <p>
      We are available to you on Facebook, Instagram, Twitter, and Google Chat anytime, anywhere.
      In order to quickly reach out to us, please use our following helpline numbers and email address to contact us.
      We are very serious about our customer service. We make every communication an enchanting experience.
    </p>
  </div>
  