<div class="home-content">
    <h2>Welcome to Baap Experiences Center</h2>
    <p>
      We determined to change the life of the villagers, we decided to give them maximum using technology and connections we have.
      Baap Experiences Center brings healthcare, farming, educational, marketplace, and governance under one roof. We designed the rural premium
      membership system linked to every individual’s identity which provides a unique experience of buying medicines, getting medical tests,
      buying garments, getting government schemes, seeking advice from lawyers and CAs, leasing farming tools, buying groceries, and selling farm produce.
    </p>
  
    <h2>Projects and Initiatives</h2>
    <p>
      At the Baap company, we are working on various projects and initiatives which can impact the lives of the village people.
      We are bringing technology to their fingertips using various mobile apps. There are various problems in rural India; we don’t have the right pricing
      for the farm produce. We built a marketplace to let farmers sell using their mobile. We make sure they get the right price for their produce.
      We are also providing various services under our BAAP EXPERIENCE CENTER, which allows them to lease farm tools, get medicines at discounted prices,
      and talk to doctors virtually.
    </p>
  </div>
  